[credential]
	helper = cache --timeout=525949
[user]
	name = Kevin Phillips
	email = kphillips86@gmail.com
[color]
	ui = auto
[push]
	default = simple
[alias]
	p = pull
	st = status
	d = diff
    forked = "!f() { git merge-base --fork-point origin/$1; }; f"
    rev = "!f() { git rev-parse origin/$1; }; f"
