[credential]
	helper = cache --timeout=525949
[user]
	name = Kevin Phillips
	email = kphillips86@gmail.com
[color]
	ui = auto
[push]
	default = simple
[alias]
	p = pull
	st = status
	d = diff
[includeIf "gitdir:~/dev/yum/"]
  path = ~/dev/yum/.gitconfig
[includeIf "gitdir:~/dev/bitovi/"]
  path = ~/dev/bitovi/.gitconfig
